<h1>Products#index</h1>
<p>
  <%= link_to 'Add a new product', new_product_path %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
</table>
